.logorsign-wrapper{
    border: 3px rgb(167, 113, 113) solid;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    background-color: bisque;
    position: fixed;
}
